<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDGdXoxD9IGWhcECUximEDzzW6fBUECqE</string>
	<key>GCM_SENDER_ID</key>
	<string>915072214362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toonity.app.toonity</string>
	<key>PROJECT_ID</key>
	<string>toonity-e0160</string>
	<key>STORAGE_BUCKET</key>
	<string>toonity-e0160.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915072214362:ios:e3f55346dfc51c9f103f63</string>
</dict>
</plist>